# DB vars
BASE_DIR = os.path.dirname(os.path.dirname(__file__))

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': os.path.join(BASE_DIR, 'db.sqlite3'),
    }
}

SECRET_KEY = 'secret very secret key for frontcast'

# LDAP configuration
AUTH_LDAP_SERVER_URI = "ldap://ldap.sciences-po.fr"
AUTH_LDAP_USER_DN_TEMPLATE = "uid=%(user)s,ou=Users,o=sciences-po,c=fr"

# BIBLIB reference manager, if any. https://github.com/medialab/reference_manager
BIBLIB_ENDPOINT = ''