import os
BASE_DIR = os.path.dirname(os.path.dirname(__file__))

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': os.path.join(BASE_DIR, 'db.sqlite3'),
    }
}

SECRET_KEY = 'secret very secret key for frontcast'

# LDAP configuration
AUTH_LDAP_SERVER_URI = "ldap://<YOUR LDAP>"
AUTH_LDAP_USER_DN_TEMPLATE = "uid=%(XXX)s,ou=XXX,o=XXXXXX,c=XXX"

# BIBLIB reference manager, if any. https://github.com/medialab/reference_manager
BIBLIB_ENDPOINT = None

AUTHENTICATION_BACKENDS = (
    'django.contrib.auth.backends.ModelBackend',
)

STORAGE_ROOT = '/path/to/storage/root'
STORAGE_ROOT_PUBLIC = os.path.join(STORAGE_ROOT, 'public')
STORAGE_ROOT_PROTECTED = os.path.join(STORAGE_ROOT, 'protected')