*.log
*.pot
*.pyc
*.DS_Store
*.swp
*.sublime-workspace
local_settings.py
# virtualenv if activated inside the frontcast dir
bin/
include/
lib/
dist/
frontcast.wsgi

sqlite/frontcast.db

uwsgi_command_line.sh
frontcast_nginx.conf

*.mp4
*.ogv
*.webm
._*
node_modules/
