Django==1.6.1
Markdown==2.3.1
Pycco==0.3.0
Pygments==1.6
beautifulsoup4==4.3.2
django-auth-ldap==1.1.4
networkx==1.8.1
numpy==1.8.0
pystache==0.5.3
python-ldap==2.4.12
smartypants==1.8.3
wsgiref==0.1.2
