body{
  font: 14px/25px 'Source Sans Pro', sans-serif;
  color: #1d1d1d;
}

h2{
  font-size: 16px;
  line-height: 25px;

}

header{
  position: fixed;
  top: 0;
  left: 0;
  right:0;
  height: 50px;
  padding: 0px 100px;
  background: #f5f5f5;
  z-index: 1;
}

header #logo{
  padding: 13px 0;
}


#wrapper{
  margin: 80px 100px;
}


.tag{
  margin: 2px 10px;
}