body{
  font: 14px/25px 'Source Sans Pro', sans-serif;
  color: #1d1d1d;
}

h2{
  font-size: 24px;
  line-height: 36px;

}

header{
  position: fixed;
  top: 0;
  left: 0;
  right:0;
  height: 50px;
  padding: 0px 100px;
  background: #f5f5f5;
  z-index: 1;
}

header #logo{
  padding: 13px 0;
  float: left;
}

header #search{
  float: left;
  margin-left: 100px;
  width: 180px;
  height: 25px;
  line-height: 25px;
}

header #search input{
  padding: 0;
  margin: 0;
  border-width: 0px;
  width: 120px;
  height: 25px;
  margin: 12px 10px 0 0;
  padding: 0 0 0 5px;
}

header nav{
  margin-left: 360px;
}

header nav ul{
  margin: 0;
  padding: 0;
  height: 50px;
  background: #e8e8e8;
  width: 420px;
}

header nav li{
  list-style-type: none;
  float: left;
  padding: 0 20px;
  line-height: 50px;
  
}

header nav li a{
  color: #1d1d1d;
  display: block;
}

header nav li.active{
  background: #EC5148;
}

header nav li.active a {
  color: white;
}

header nav li.user {
  float: right;
}

#wrapper{
  margin: 80px 100px;
}

#wrapper aside{
  position: fixed;
  width: 320px;
}

#wrapper aside h3{
  font-size: 18px;
  line-height: 36px;
  margin-top: 0;
  color: rgb(170,170,170);
}

#wrapper aside h3 .dropdown{
  display: inline-block;
  margin-left: 20px;
}

#wrapper aside h3 .btn{
  border: 1px solid rgb(170,170,170);
}

#wrapper aside h3 .number{
  color: #1d1d1d;
  font-weight: bold;
  font-family: 'Source Code Pro';
}

#wrapper aside .explaination{
  margin-bottom: 40px;
  
}


#view{
  margin-left: 360px;
}

.item{
  margin: 20px 0px 60px 0px;
  width: 420px;
  padding: 15px 20px;
  background: #f5f5f5;
}

.item h2{
  margin: 0;
}

.tag{
  margin: 2px 10px 2px 0;
  border-bottom: 1px solid #1d1d1d;
  color: #1d1d1d;
  font-family: 'Source Code Pro';
}

.tag:hover{
  background: #33cccc;
  color: white;
}

.abstract{
  color: rgb(170, 170, 170);
}

.abstract img{
  min-width: 100%;
}

.content .permalink{
  color: rgb(70, 70, 70);
  word-break: break-all;
}

.keywords{
  margin-bottom: 20px;
}

.metadata{
  margin: 0;
}

.date.tag{
  color: #EC5148;
}

.rating{
  color: rgb(170, 170, 170);
}

ul.pagination li a{
  border-width: 0px;
  color: #1d1d1d;
  background: transparent;
}

ul.pagination li.active a, ul.pagination li.active a:hover{
  background: #EC5148;
  color: white;
}
