@import "mixinsformilk.less";


@blue: #33cccc;
@red: #ee312f;
@grey: #EAEAEA;
@pencil: #BBBBBC;
@darkgrey: #D7D7D7;
@black: #000;
@white: #fff;

@modulo: 12px;

@facets-height: @modulo*8;
@handle-height: @modulo*4;
@header-height: @modulo*4;
@shadow-height: @modulo/2;

@sidebar-width:  @modulo*8;
@footer-height: 40px;

@page-width: @modulo*64;

/* DEFAULTS */
html {
  font-size: 62.5%; // Reset font size to 10px for easy calculation
  height: 100%;
}

body  {
  padding: 0;
  margin: 0;
  font-size: 1.4em; // 14 px
  line-height: 1.618; // golden ratio (default)
  color: @black;
  font-family: "Lato";
  -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  position: relative;
  background: #fff;
  word-wrap:break-word;
  height: 100%;
}
a{
  color: @black;
  text-decoration: none;
  &:hover{
    color: @red;
  }
}
h2{
  font-size:1.8rem;
  margin: 0;
  color: @black;
}



article{
  margin: @modulo*2 @modulo*2 @modulo*3 @modulo*2;
  padding-bottom: @modulo;
  border-bottom : 1px solid @grey;

  .abstract{
    margin: 0 @modulo;
    font-style: italic;
  }
}

sidebar{
  position: fixed;
  width: @sidebar-width;
}

#wrapper{
  padding-left: @sidebar-width;
}

::selection, ::-moz-selection  {
  background: @blue;
  color: #fff;
}

#header{ // this is the main header
  position: relative;
  height: @header-height;
  margin: 0 auto;
  width: @page-width;
  background: @white;
  
  >.inner{
    width: @page-width;
    line-height: @header-height - 1px;
    margin: 0 auto;
    //border-bottom:2px solid darken(@pencil,20%);
  }
}
#facets{
  height: @facets-height;
  background: @grey;
  border-bottom: 1px solid @pencil;
  >.wrapper{
    >.inner{
      background: @grey;
      height: @facets-height;
      
      .left>.inner{
        line-height: @handle-height;
      }
    }
    >.shadow{
      z-index:1;
      bottom: 0px;
      background: @darkgrey;
      width: @page-width;
      left: 0;
    }
  }
}

#handle{
  height: @handle-height;
  background: @white;
  >.wrapper{
    >.inner{
      background: @white;
      height: @handle-height;
      border-bottom: 1px solid @blue;
      .left>.inner{
        line-height: @handle-height;
      }
    }
  }
}

#list{
  width: @page-width;
  margin: 0 auto;
}

.header{ // please specify HEIGHT in pixels
  width: @page-width;
  margin: 0 auto;
  >.wrapper{
    position: relative;
    
  
    >.inner{
      z-index:1;
      
      .left>.inner{
        margin-left: @modulo;
      }
      img{
        float:right;
        height: 36px;
        margin-top: 4px;
      }
    }
    >.shadow{
      position: absolute;
      bottom: 0;
      left: @modulo;
      width: @page-width - 2*@modulo;
      height: @shadow-height;
      z-index: -1;
      background: fade(@grey, 90%);
      .transition(bottom, ease-in-out, .43s);
    }
  }
  &.scroll-to-fixed-fixed >.wrapper{
    >.shadow{
      bottom: -@shadow-height;
    }
  }
}



.inner{
  position: relative;
  // note: left+fixed-center+right pattern needs a full width/height inner class.
  .left{
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
    >.inner{
      margin-right: @modulo*8;
    }
  }
  .right{
    position: absolute;
    left: 50%;
    width: 50%;
    height: 100%;
    >.inner{
      margin-left: @modulo*8; // inverse of the center margin-left
    }
  }
  .center{
    position: absolute;
    left: 50%;
    width: @modulo*16; // twice the margin-left
    height: 100%;
    margin-left: -@modulo*8;    
  }
}

.toggle-dropdown{
  position: relative;
  text-align: center;
  line-height: @modulo*4;
  text-transform: uppercase;
  span{
    background: @white;
    z-index: 1;
    padding: 0 @modulo;
  }
}
.line-through{
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: @modulo -1px;
  border-bottom: 1px solid #bbbbbc;
  z-index: -1;
}
