//
//
//
//     ______     ______     ______     ______     ______     __   __   ______     ______    
//    /\  __ \   /\  == \   /\  ___\   /\  ___\   /\  == \   /\ \ / /  /\  ___\   /\  == \   
//    \ \ \/\ \  \ \  __<   \ \___  \  \ \  __\   \ \  __<   \ \ \'/   \ \  __\   \ \  __<   
//     \ \_____\  \ \_____\  \/\_____\  \ \_____\  \ \_\ \_\  \ \__|    \ \_____\  \ \_\ \_\ 
//      \/_____/   \/_____/   \/_____/   \/_____/   \/_/ /_/   \/_/      \/_____/   \/_/ /_/ 
//
//
//                                       *       +
//                            *     '                  |
//                              ()    .-.,-"``"-.    - o -
//                                    '=/_       \     |
//                                 *   |::'=._    ;      '
//                            '         \::.  `=./`,   '
//                              +    .   '-::..-'``'    *
//                          jgs   O    *     .       +  .
//                                   *     .       +
//
//
//  Note: info on header, footer alignement are handled in an inline stylesheet, as stated by gugol
//  Reset by YII purecss. This less stylesheet will contain the purecss layout.
//  ---
//
/*

  const
  =====

*/
@red: #ec5148;
@smoke: #f3ede3;
@creamy: rgb(124, 41,39);
@sand: #f9f7ed;
@dust: #e0cfc7;
@white: #ffffff;
@blue: #33cccc;
@black: #181818;
@grey: #777777;
@brown: #aa3735;
@darkgrey: #4F514E;


@ease-in-quint: cubic-bezier(0.755, 0.050, 0.855, 0.060);
@ease-in-out-quint: cubic-bezier(0.860, 0.000, 0.070, 1.000);

@module: 6px;


/*

  mixins
  ======

*/
.transition(@property:all, @duration:.4s, @easing:ease-in-out){
   -webkit-transition: @arguments;
    -moz-transition: @arguments;
    -ms-transition: @arguments;
    -o-transition: @arguments;
    transition: @arguments; 
}




/*

  header
  ======

*/
.header{
  background: @smoke;
  border-bottom: 0px transparent;// darken(@smoke, 6%);
}

#search-form{
  margin-top:6px;
  margin-left:32px;

  #search-input{
    font-family: 'Source Code pro';
    font-size: 15px;

  }

 
}

 button.pure-button, a.pure-button {
    background-color: @smoke;
    font: 12px/30px 'Source Code pro';
    padding: 0 @module*2;
    border: 1px solid darken(@smoke, 9%);
    border-radius: @module;
    &:hover{
      background-color: @blue;
      background-image: none;
      color: @white;
      border-color: darken(@blue, 10%);
    }

    &:active, &:focus{
      background-color: @red;
      background-image: none;
    }
  }

.boo-line.pure-button{
  border: 2px solid @creamy;
  color: @creamy;
  background: transparent;
}
/*

  footer
  ======

*/
.footer{
  width: 100%;
  left: 0;
  
  .panel{
    width: 100%;
    background: @sand;
    height: 37px;
    overflow:hidden;
    .transition(height, .3s, ease-in-out);
  
    .toggler{
      text-align: center;
      text-transform: uppercase;
      background: lighten(@darkgrey, 12%);
      height: 36px;

      .label{
        position: relative;
        display: inline-block;
        font:12px/36px 'Source Sans Pro';
      
      }

      .circle{
        position: absolute;
        right: -24px;
        top: 3px;
        height:18px;
        width: 18px;
        line-height: 18px;
        border-radius: 18px;
        background: @black;
      }
    }

    &.opened{
      height: 240px;
    }

    >.inner{
      height: 100%;
    }
  }

  >.inner{
    position: relative;
    z-index: 1;
  }

  .tag{
    background-color: @brown;

  }
}


#facets{
  height: 86px;
}

#query-manager{ 
  background-color: #d84744;
  padding: 12px;
  border-top: 1px solid rgba(124, 41, 39, 0.3);
  text-align: center;

  label{
    font: 11px/24px 'Source Code Pro';
    border-top: 1px solid rgba(124, 41, 39, 0.3);
    
    border-bottom: 1px solid rgba(124, 41, 39, 0.3);
    display: block;
    margin: @module;
  }

  .toggler{
    background-color: @brown;
  }
}


#facets-manager{
  background-color: #d84744;
  

  .toggler{
    background: @red;
  }

  #active-filters{
    height: 36px;
    border-bottom: 1px solid fade(@creamy, 30%);
    padding: 0 @module;
  }
  
  .facet{
    padding: 0 @module;
  }

  >.inner{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
  }
}


/*

  Current View
  ============

*/
.view{
  margin-top: @module*2;

  .menu {
    padding-top: @module;
    padding-bottom: @module;
    margin-bottom: @module*2;
    background-color: @sand;
    border-bottom: 1px solid transparent;
    .transition(border-color, .3s, ease-in-out);
   
    &.scroll-to-fixed-fixed{
      border-color: darken(@smoke,20%);
    }
  }

}


/*

  paginator
  =========

*/
.paginator{
  display: inline;
  position: relative;

  .inner{
    background: fade(@creamy, 4%);
    border-radius: @module*3;
    padding: @module 0;
    display: inline-block;
    margin: 0;
  }
  
  .circle{
    position: absolute;
    top: 0;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    z-index: 0;
  }

  .number{
    position: relative;
    z-index: 1;
  }

  .prev, .next, .page{
    font: 12px/24px 'Source Code Pro';
    color: @black;
    position: relative;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    margin: 0 @module/2;
    width: 24px;
    height: 24px;
  }

  .prev:hover, .next:hover{
    color: @red;
  }

  .prev{
    border-right: 1px solid fade(@creamy, 15%);
  }

  .next{
    border-left: 1px solid fade(@creamy, 15%);
  }

  .page{
    &:hover, &.selected{
      color: @white;
    }

    &:not(.selected):hover .circle{
      background-color: @blue;
    }

    &.selected .circle{
      background-color: @red;
    }
  }
} // endof paginator



/*

  item and its properties
  =======================

*/
.item{
  max-width: 280px;
  position: relative;
  width: 280px;//30.555555555556%;
  float: left;
  padding: 0;
  margin: 0 @module*2 @module*5 0;

  >.inner{
    position: relative;
    clear: left;
    background: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.07);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.07);
    box-shadow: 0 1px 2px rgba(0,0,0,0.07);
    height: 222px;
    overflow:hidden;
  }

  .below{
    padding: @module @module*2;
    color: darken(@smoke, 12%);
    .transition(all);
    background-color: fade(@smoke, 40%);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;

    a{
      color: darken(@smoke, 12%);
      .transition(color);
    }
  }

  h4{
    position: relative;
    padding: 12px 18px;
    margin: 0;
  }

  .devices{
    margin: 0 18px;
    word-break: break-word;
  }

  h4 a{
    text-decoration: none;
    font-weight: normal;
    color: #181818;
    font-size: 1.5rem;
  }

  .permalink{
    margin: 0 @module*3;
    word-break: break-all;
  }

  .abstract{
    font: 1.3rem/24px 'Source Sans Pro';
    margin: 0 @module*3;
    position: relative;
  }
  .tags{
    margin: 0 @module*3 @module*2 @module*3;
    border-bottom: 1px solid fade(@black, 10%);
    padding-bottom: @module*2;
  }
  img{
    max-width: 100%;
    max-height:100%;
  }


  &:hover{
    
    .below{
      color: @creamy;
      background-color: @smoke;

      a{
        color: @creamy;
      }
    }
  }
  
  &.list-item{
    float: none;
    width: auto;
    max-width: none;
    display: block;
    margin-bottom: @module;

    .inner{
      height: auto;
        
      h4{
        display: inline;
      }
      .tags, .devices{
        display: inline;
        margin: 0;
        padding: 0;
        border-bottom: none;
      }
    }
    .cover{
      display: none;
    }
  }
}


.list{
  margin-left: @module;
  padding-bottom: 0px;
}


.big-item{
  padding-top: @module*6;
  font: 12px/24px 'Source Sans Pro';

  .cover{
    height: 300px;
    padding: @module*2;
    background: lighten(@creamy, 67.5%);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.07);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.07);
    box-shadow: 0 1px 2px rgba(0,0,0,0.07);
    
    .box{
      overflow: hidden;
       height: 300px;
    }
  }

  h2, h3{
    font-weight: normal;
    color: @black;
    padding: 0;
    margin: 0;
  }


  h3{
    font: 1.4rem/24px 'Source Sans Pro';
    margin-bottom: @module*2;
    
  }

  h4{
    font: 1.3rem/24px 'Source Sans Pro';
    margin: @module*2 @module*3;
  }
  h5{
    font: 1.3rem/24px 'Source Sans Pro';
    margin: @module;
    font-style: italic;
    color: #bbb;
    text-align: center;
  }

  .abstract{
    font: 1.5rem/24px 'Source Sans Pro';
    margin: 0 @module*4;
    color: @black;
  }
  
  .notes{
    font: 1.3rem/24px 'Source Sans Pro';
    margin: 0 @module*4;
    color: @grey;
  }

  .tags{
    margin: 0 @module*3 @module*2 @module*3;
    border-bottom: 1px solid fade(@black, 10%);
    padding-bottom: @module*2;
  }

  

  .property{
    margin: 0 @module*3 @module*2 @module*3;
    border-bottom: 1px solid fade(@black, 10%);
    padding: @module;
    clear:both;

    .value{
      display: inline-block;
      float:right;
      text-align: right;
      color: @grey;
      display: inline-block;
    }

    &.boolean{
      .value{
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;

      &::before{
        content: "\f10c";
      }
      }
      &.has-value{
        color: @black;
          
        .value::before{
          color: @black;
          content: "\f05d";
        }
      }
    }
  }
}


.thumb{
  background-color: lighten(@creamy, 67.5%);
  margin-bottom: @module;
  padding: @module*2;
  -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.07);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.07);
    box-shadow: 0 1px 2px rgba(0,0,0,0.07);
  h2{
    margin: 6px 18px;
  }

};

.tag{
  font: 11px/36px 'Source Code Pro';
  padding: 5px 7px;
  margin: 0 @module 0 0;

  cursor: pointer;
  background: fade(@creamy, 6%);
  border-radius: 3px;
  
  &.action{
    background: transparent;
    
  }

  &:hover{
    background:@blue;
    color: white;
  }
  &:focus, &:active{
    background: @red;
    color: white;
  }

  .tooltip{
    font: 12px/18px 'Source Sans Pro';
  
  }
}

.pseudo-tag{
  background: fade(@creamy, 6%);
  display: block;
  margin: 0 6px 3px 6px;
  cursor: pointer;

  .label{
    font: 11px/12px 'Source Code Pro';
    text-align: right; height: 12px; line-height: 12px;overflow: hidden; margin-right:3px;
  }

  .value{
    font: 11px/12px 'Source Code Pro';
    position: relative;
    margin-right: 14px;

    .bar{
      position:absolute; 
      background: @white;
      height: 12px;
      background: white;
    }

    .label{
      position: absolute; 
      
      text-align: left;
       top: 0; line-height: 12px; margin-left: 6px
    }
  }

  &:hover{
    background: fade(@creamy, 66%);
  }
}


/*

  Counter
  =======

*/
.counter{
  position: relative;
  display: inline;
  line-height: 36px;
  margin-top: @module;
  margin-right: @module*3;
  font: 1.4rem/36px 'Source Sans Pro';
    
  .number{
    font: 1.8rem/36px 'Source Code Pro';
    color: @black;
  }
}


/*

  fancy select
  ============

*/
div.fancy-select{
  font: 12px/24px 'Source Code Pro';
  color: @black;
  display: inline-block;
  text-transform: lowercase;
  text-align: left;

  div.trigger{
    background-color: fade(@creamy, 4%);
    border-width: 0px;
    box-shadow: none;

    &.open{
      border-width: 0px;
    }

    &:after{ // fontawesome hack
      display: inline-block;
      font: 12px/24px 'FontAwesome';
      color: @black;
      font-style: normal;
      font-weight: normal;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content: "\f105";
      border-width: 0;
      top: 16px;
      right: 12px;
    }
  }

  div.fancy-select ul.options{

  }
}



/* ==== editable-form ==== */

/* class for single editable element */
.editable-wrap {
  display: inline-block;
  white-space: nowrap;
  margin: 0;
}

/* remove bottom-margin for bootstrap */
.editable-wrap .editable-controls,
.editable-wrap .editable-error {
  margin-bottom: 0;
}

/* remove bottom-margin of inputs */
.editable-wrap .editable-controls > input,
.editable-wrap .editable-controls > select,
.editable-wrap .editable-controls > textarea {
  margin-bottom: 0;
}

/* keep buttons on the same line */
.editable-wrap .editable-input {
  display: inline-block;
}

.editable-buttons {
  display: inline-block;
  vertical-align: top;
}

.editable-buttons button {
  margin-left: 5px;
}

/* in bootstrap width: 100% => buttons go outside the box */
.editable-input.editable-has-buttons {
  width: auto;
}

/* ==== editable-bstime ==== */

/* workaround for bootstrap that sets width: 100% and inputs become too wide */
.editable-bstime .editable-input input[type="text"] {

}

/* less padding for .well */
.editable-bstime .well-small {
  margin-bottom: 0;
  padding: 10px;
}

/* ==== editable-range ==== */

.editable-range output {
  display: inline-block;
  min-width: 30px;
  vertical-align: top;
  text-align: center;
}

/* ==== editable-color ==== */

.editable-color input[type="color"] {
  width: 50px;
}


/* ==== editable-checkbox ==== */
/* ==== editable-checklist ==== */
/* ==== editable-radiolist ==== */

.editable-checkbox label span,
.editable-checklist label span,
.editable-radiolist label span {
  margin-left: 7px;
  margin-right: 10px;
}

/* ==== element ==== */

/* hiding element */
.editable-hide {
  display: none !important;
}

.editable-click,
a.editable-click {
  //text-decoration: none;
  //color: #428bca;
  //border-bottom: dashed 1px #428bca;
}

.editable-click:hover, 
a.editable-click:hover {
  //text-decoration: none;
  //color: #2a6496;
  //border-bottom-color: #2a6496;
  background: fade(@blue, 10%);
}

/* editable-empty */
.editable-empty, 
.editable-empty:hover, 
.editable-empty:focus,
a.editable-empty, 
a.editable-empty:hover, 
a.editable-empty:focus {
  //font-style: italic; 
  //color: #DD1144;  
  //text-decoration: none;
}
.editable-controls input[type="text"],
.editable-controls input[type="password"],
.editable-controls input[type="email"],
.editable-controls input[type="url"],
.editable-controls input[type="date"],
.editable-controls input[type="month"],
.editable-controls input[type="time"],
.editable-controls input[type="datetime"],
.editable-controls input[type="datetime-local"],
.editable-controls input[type="week"],
.editable-controls input[type="number"],
.editable-controls input[type="search"],
.editable-controls input[type="tel"],
.editable-controls input[type="color"],
.editable-controls select,
.editable-controls textarea {
  padding: 0.5em 0.6em;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font: 1.2rem/1.618 'Source Code Pro';
}


#menu{
  background-color: @red;
}

@media (min-width: 960px){
  #layout{
    padding-left:150px;
  }
  #main{
    margin: 0;
  }
  #menu {
    background-color: transparent;
    left: 150px;
  }
}

@media (min-width: 1280px){
  #main{
    margin: 0 auto;
  }
  #menu{
    
  }
}

@media (min-width:1400px){
  #main{
    margin: 0 auto;
  }
}



/*
  
  Dropdowns
  ---------
*/
.dropdown{
  position: relative;
  margin: 0 @module*2;

  .dropdown-toggle{
    display: inline-block;
    background: @smoke;
    position: relative;
    z-index: 1001;
    line-height: 36px;
    -webkit-border-radius: 36px;
    -moz-border-radius: 36px;
    border-radius: 36px;
    padding: 0 @module*2;
    margin: 0;
    font: 13px/36px 'Source Code pro';
    color: @grey;
    .transition(background-color, .2s, linear);

    .fa{ // icon
      margin-left: 12px;
    }

    &:hover{
      background-color: @dust;
    }
  }

  &.open .dropdown-menu{
    display:block;
  }

  .orderby{

    color: @black;
  }
}

ul.dropdown-menu{
  position: absolute;
  background-color: lighten(@smoke, 10%);
  z-index:1000;
  padding:0;
  margin:0;
  color: @white;
  display: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.37);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.37);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.37);

  li{
    padding: 0 @module*2;
    line-height: 36px;
    display: block;
    color: @black;
    font: 13px/36px 'Source Code pro';
    &:hover{
      background-color: @blue;
      color: @white;
    }
  }
}




.typeahead-multi-input{
  //display:none;
}



.tooltip{
    position:absolute;
    z-index:1020;
    display:block;
    visibility:visible;
    padding:5px;
    font-size:11px;
    opacity:0;
    filter:alpha(opacity=0)
}
.tooltip.in{
    opacity:.8;
    filter:alpha(opacity=80)
}
.tooltip.top{
    margin-top:-2px
}
.tooltip.right{
    margin-left:2px
}
.tooltip.bottom{
    margin-top:2px
}
.tooltip.left{
    margin-left:-2px
}
.tooltip.top .tooltip-arrow{
    bottom:0;
    left:50%;
    margin-left:-5px;
    border-left:5px solid transparent;
    border-right:5px solid transparent;
    border-top:5px solid #000
}
.tooltip.left .tooltip-arrow{
    top:50%;
    right:0;
    margin-top:-5px;
    border-top:5px solid transparent;
    border-bottom:5px solid transparent;
    border-left:5px solid #000
}
.tooltip.bottom .tooltip-arrow{
    top:0;
    left:50%;
    margin-left:-5px;
    border-left:5px solid transparent;
    border-right:5px solid transparent;
    border-bottom:5px solid #000
}
.tooltip.right .tooltip-arrow{
    top:50%;
    left:0;
    margin-top:-5px;
    border-top:5px solid transparent;
    border-bottom:5px solid transparent;
    border-right:5px solid #000
}
.tooltip-inner{
    max-width:200px;
    padding:3px 8px;
    color:#fff;
    text-align:center;
    text-decoration:none;
    background-color:#000;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px
}
.tooltip-arrow{
    position:absolute;
    width:0;
    height:0
}


/*

  Bootstrap rating
  ======
*/
.glyphicon{
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: @module/2;
  &.glyphicon-star:before{
    content: "\f005";
  }
  &.glyphicon-star-empty:before{
    content: "\f006";
  }
}



.clear{
  clear: both;
}