@import "mixins.less";
@import "fonts.less";

@red: #cc1600;
@black: #838383;
@f-darkblue: #141e20;
@f-blue: #33cccc;
@f-red: #ee312f;

@grey:#eaeaea;
@grey_5: darken(@grey, 5%);
@grey_10: darken(@grey, 10%);
@grey-5: lighten(@grey, 5%);
@grey-10: lighten(@grey, 10%);
@grey-18: lighten(@grey, 18%);

@header-height: 80px;
@sidebar-width: 110px;
@references-width:260px;
@padding: 24px;


html, body{
	height:100%;
	padding:0;
	margin:0;
	min-height:100%;
}

body{
	.sans-serif( 14px);
	background: @grey-5;
}

h1, h2, h3, h4{
	font-weight:normal;
	margin-top:0;
	margin-bottom: 0;
	.sans-serif( 14px);
}
h2{
	padding: @padding/2 @padding;
}

a{
	color:#121e20;
	text-decoration: none;
}


sidebar{
	background:@grey;
	position:fixed;
	width:@sidebar-width;
	height: 100%;
	margin:0;
	padding-top: 0;
	// border-right: 1px solid black;

	.outer{
		height: 100%;
		width: @sidebar-width;
		/// border-right: 1px solid @grey_5;
		// box-shadow : inset 0px 0px 13px rgba(0,0,0,.05);
	}

	.inner{
		padding: 0;
	}



	ul{
		padding: 0;
		margin:0;
		margin-left:12px;
		li{
			list-style-type: none;
			border-bottom: 1px solid @grey;

			.sans-serif();
			padding: 12px 0 12px 12px;
			&:hover{
				background: white;
			}
			i{
				margin-right: 12px;
			}
		}
	}
}

.references{
	position:fixed;
	height:100%;
	width: @references-width;
	background:@grey_5;
	top:0px;
	right:0px;
	display:block;
	h2{
		text-align: center;
		background: @f-blue;
		color: white;
	}
}

header{
	position:fixed;
	width:100%;
	height: auto;
	margin:0;
	background: @f-darkblue;
	.inner{
	color: white;
		margin-left: @sidebar-width ;
		margin-right: @sidebar-width ;
	}
}

.main{
	//background: @black;
	width:100%;
	height: 100%;
	margin:0;
	display:block;
	position:fized;
	.inner{
		padding-left: @sidebar-width + @padding;
		padding-right: @references-width + @padding;
		padding-top:@padding;
	}
}



button{
	background-color: @f-blue;
	border: 0px;
	.border-radius(2px);
	color: white;
	.sans-serif( 1em);

	padding: 10px 24px 10px 24px;

	&:hover{
		background-color: darken( @f-blue, 10%);
	}
}

input{
	background-color: @grey-10;
	border: 0px;
	.border-radius(2px);
	.sans-serif( 1em);
	display: block;

}
input[type="text"]{

}


/*

	Override DOMINO css

*/
fieldset{
	border-width:0;
}


// logos
#sciences-po-logo{
	width:@sidebar-width - 13px;
	margin-left: 8px;
	position:fixed;
	bottom: 10px;
}
