/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */
html {
  font-size: 62.5%;
  height: 100%;
}

body{
  font: 1.5em/1.618em 'Lato', sans-serif;
  background-color: #f9f7ed;
  height:100%;
  padding: 0;
  margin: 0;
}

h1,h2,h3,h4,h5{
  font: 2rem/1.618em 'Lato', sans-serif;
}

header{
  background-color: #ffffff;
  padding: 12px 0;
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  
}

nav{
  position: fixed;
  width: 100px;
  height: 100px;
}

footer{
  background-color: #ec5148;
  color: #ffffff;
  clear: both;
  position: fixed;
  bottom: 0px;
  width: 100%;
  z-index: 999;
}

img{
  vertical-align: middle;
}

.below-the-footer{
  background-color: #ec5148;
  padding: 24px 0;
  color: #ffffff;
  clear: both;
}

/* #Page Styles
================================================== */
button, a.boo {
  font: 1.2rem/1.618em 'Lato', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: normal;
  background: #ec5148;
  color: #f9eedc;
  text-align: center;
  display: block;
  border-radius:2px;
  padding: 12px 16px;
  text-shadow: none;
  border-width: 0px;
  -webkit-transition: background 200ms ease-in-out; 
   -moz-transition: background 200ms ease-in-out; 
     -o-transition: background 200ms ease-in-out; 
        transition: background 200ms ease-in-out; /* easeOutQuint */
}

button:hover, a.boo:hover{
  background:  #ff5450;
  color: white;
   border-width: 0px;
}

button:active{
  background:  #b20400;
}



button .fa, a.boo .fa {
  padding-left: 12px;
}

a.entry{
  font-size: 1.1rem;
  text-transform: uppercase;
  text-decoration: none;
  padding: 12px;
}

a.entry.active, a.entry:hover{
  
}

li{
  margin: 0;
  padding: 0;
  line-height: 1.618em;
}
/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/


/* #pin
================================================== */
.box{
  background: white;
  overflow: hidden;
}

.box h2{
  font-size: 1.4rem;
  margin: 0px 12px 12px 12px;
}

.box .abstract{
  font-size: 1.2rem;
  margin: 0px 12px 12px 12px;
}

.box .tags{
  font-size: 1.2rem;
  margin: 12px 12px 0px 12px;
}

.box .tags .date{
  color: #ccc;
}

.box .tags .type{
  color: #ec5148;
}

.box .thumb{
  width: 100%; background: #181818; height:100%
}
.box .thumb img{
  width: 100%;
  -webkit-transition: opacity 400ms cubic-bezier(0.230, 1.000, 0.320, 1.000); 
   -moz-transition: opacity 400ms cubic-bezier(0.230, 1.000, 0.320, 1.000); 
     -o-transition: opacity 400ms cubic-bezier(0.230, 1.000, 0.320, 1.000); 
        transition: opacity 400ms cubic-bezier(0.230, 1.000, 0.320, 1.000); /* easeOutQuint */
}

.box .actions{
  position: absolute;
  bottom: -36px;
  width: 100%;
  height: 36px;
  margin:0;
  padding: 0;
  background: #ec5148;
  text-align: center;
  line-height: 32px;
  color: white;
  -webkit-transition: bottom 400ms cubic-bezier(0.230, 1.000, 0.320, 1.000); 
   -moz-transition: bottom 400ms cubic-bezier(0.230, 1.000, 0.320, 1.000); 
     -o-transition: bottom 400ms cubic-bezier(0.230, 1.000, 0.320, 1.000); 
        transition: bottom 400ms cubic-bezier(0.230, 1.000, 0.320, 1.000); /* easeOutQuint */
}
.box .actions a{
  font-size: 1.1rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #f9eedc;
  display: block;
}

.box .actions:hover a{
  color: white;
  
}

.box:hover .actions{
  bottom: 0px;
}

.box:hover .thumb img{
  opacity: .5;
}

.box:hover{
  background-color: #fafafa;
}

/* #the big pin
================================================== */
.big-box{
  background: white;
  overflow: hidden;
}

.big-box .pusher{
  height: 24px;
}

.big-box h2{
  font-size: 2.4rem;
  margin: 0px 24px 0px 24px;
}

.big-box .content{
  font-size: 1.4rem;
  margin: 0px 24px 0px 24px;
}

.big-box .tags{
  font-size: 1.1rem;
  margin: 0px 24px 0px 24px;
}

.big-box .tags .date{
  color: #ccc;
}

.big-box .tags .type{
  color: #ec5148;
}

.big-box .mla{
  font-size: 1.3rem;
  margin: 0px 24px 0px 24px;
  background: rgba(0,0,0,.0168);
  padding: 6px 12px;
}

.big-box .mla .title{
  font-style: italic;
}

/* #Dummy-stuffs
================================================== */
.red{
  color: #ec5148;
}
.right-aligned{
  text-align: right;
}

.center-aligned{
  text-align: center;
}

/* #IDS
================================================== */
#main{
  padding: 108px 0;
}

#counter-documents{
  font-size: 2.4rem;
  margin-bottom: 12px;
  text-align: center;
}

#search-query{
  display: inline;
  margin: 0;
  background: #fff;
  color: #181818;
  font: 1.3rem/1.618em 'Lato', sans-serif;
}


/* #puglins
================================================== */
/*
 * Swiper - Mobile Touch Slider CSS
 * http://www.idangero.us/sliders/swiper
 *
 * Vladimir Kharlampidi, The iDangero.us
 * http://www.idangero.us/
 * 
 * Copyright 2012-2013, Vladimir Kharlampidi
 * The iDangero.us
 * http://www.idangero.us
 *
 * Licensed under GPL & MIT
 *
*/

/* ===============================================================
Basic Swiper Styles 
================================================================*/
.swiper-container {
  margin:0 auto;
  position:relative;
  overflow:hidden;
  -webkit-backface-visibility:hidden;
  -moz-backface-visibility:hidden;
  -ms-backface-visibility:hidden;
  -o-backface-visibility:hidden;
  backface-visibility:hidden;
  /* Fix of Webkit flickering */
  z-index:1;
}
.swiper-wrapper {
  position:relative;
  width:100%;
  -webkit-transition-property:-webkit-transform, left, top;
  -webkit-transition-duration:0s;
  -webkit-transform:translate3d(0px,0,0);
  -webkit-transition-timing-function:ease;
  
  -moz-transition-property:-moz-transform, left, top;
  -moz-transition-duration:0s;
  -moz-transform:translate3d(0px,0,0);
  -moz-transition-timing-function:ease;
  
  -o-transition-property:-o-transform, left, top;
  -o-transition-duration:0s;
  -o-transform:translate3d(0px,0,0);
  -o-transition-timing-function:ease;
  -o-transform:translate(0px,0px);
  
  -ms-transition-property:-ms-transform, left, top;
  -ms-transition-duration:0s;
  -ms-transform:translate3d(0px,0,0);
  -ms-transition-timing-function:ease;
  
  transition-property:transform, left, top;
  transition-duration:0s;
  transform:translate3d(0px,0,0);
  transition-timing-function:ease;

  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.swiper-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  margin: 0 auto;
}
.swiper-slide {
  float: left;
}

/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {
  -ms-touch-action: pan-y;
}
.swiper-wp8-vertical {
  -ms-touch-action: pan-x;
}

/* ===============================================================
Your custom styles, here you need to specify container's and slide's
sizes, pagination, etc.
================================================================*/
.swiper-container {
  /* Specify Swiper's Size: */

  width:100%;
  height: 300px;
}
.swiper-slide {
  /* Specify Slides's Size: */
  
  width: 100%;
  height: 100%;
  background: black;
  text-align: center;
}

.swiper-slide-active {
  /* Specific active slide styling: */
  
}
.swiper-slide-visible {
  /* Specific visible slide styling: */ 

}
/* ===============================================================
Pagination Styles
================================================================*/
.pagination{
  padding: 12px 9px 12px 9px;
}
.swiper-pagination-switch {
  /* Stylize pagination button: */  
  width: 60px;
  height: 24px;
  background: #cacaca;
  display: inline-block;
  margin: 0 3px;
}
.swiper-active-switch {
  /* Specific active button style: */ 
  background: #ec5148;
}
.swiper-visible-switch {
  /* Specific visible button style: */  
  
}


div.fancy-select {
  position: relative;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: white;
}

div.fancy-select.disabled {
  opacity: 0.5;
}

div.fancy-select select:focus + div.trigger {
  /*box-shadow: 0 0 0 2px #4B5468;*/
}

div.fancy-select select:focus + div.trigger.open {
  box-shadow: none;
}

div.fancy-select div.trigger-wrapper {
  border-radius: 3px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  background: #cacaca;
  color: #585858;
  width: 100%;
  padding: 0;
}

div.fancy-select div.trigger {
  padding: 4px 12px;
  
}
div.fancy-select div.trigger:after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top-color: #4B5468;
  top: 20px;
  right: 9px;
}

div.fancy-select div.trigger.open {
  background: #ec5148;
  color: white;
  box-shadow: none;
}

div.fancy-select div.trigger.open:after {
  border-top-color: #7A8498;
}

div.fancy-select ul.options {
  list-style: none;
  margin: 0;
  position: absolute;
  top: 40px;
  left: 0;
  visibility: hidden;
  opacity: 0;
  z-index: 50;
  max-height: 200px;
  overflow: auto;
  background: #33cccc;
  border-radius: 3px;
  border-top: 1px solid #7DD8D2;
  width: 100%;

  transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
  -webkit-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
  -moz-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
  -ms-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
  -o-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
}

div.fancy-select ul.options.open {
  visibility: visible;
  top: 50px;
  opacity: 1;

  /* have to use a non-visibility transition to prevent this iOS issue (bug?): */
  /*http://stackoverflow.com/questions/10736478/css-animation-visibility-visible-works-on-chrome-and-safari-but-not-on-ios*/
  transition: opacity 300ms ease-out, top 300ms ease-out;
  -webkit-transition: opacity 300ms ease-out, top 300ms ease-out;
  -moz-transition: opacity 300ms ease-out, top 300ms ease-out;
  -ms-transition: opacity 300ms ease-out, top 300ms ease-out;
  -o-transition: opacity 300ms ease-out, top 300ms ease-out;
}

div.fancy-select ul.options.overflowing {
  top: auto;
  bottom: 40px;

  transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
  -webkit-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
  -moz-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
  -ms-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
  -o-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
}

div.fancy-select ul.options.overflowing.open {
  top: auto;
  bottom: 50px;

  transition: opacity 300ms ease-out, bottom 300ms ease-out;
  -webkit-transition: opacity 300ms ease-out, bottom 300ms ease-out;
  -moz-transition: opacity 300ms ease-out, bottom 300ms ease-out;
  -ms-transition: opacity 300ms ease-out, bottom 300ms ease-out;
  -o-transition: opacity 300ms ease-out, bottom 300ms ease-out;
}

div.fancy-select ul.options li {
  padding: 8px 12px;
  color: #2B8686;
  cursor: pointer;
  white-space: nowrap;

  transition: all 150ms ease-out;
  -webkit-transition: all 150ms ease-out;
  -moz-transition: all 150ms ease-out;
  -ms-transition: all 150ms ease-out;
  -o-transition: all 150ms ease-out;
}

div.fancy-select ul.options li.selected {
  background: rgba(43,134,134,0.3);
  color: rgba(255,255,255,0.75);
}

div.fancy-select ul.options li.hover {
  color: #fff;
}










.vjs-poster{
  background-color: black;
}
.video .vjs-default-skin .vjs-big-play-button{
  left: 50%;
margin-left: -2em;
top: 50%;
margin-top: -1.3em;
}