.cols{
  display: block;
  height: 300px;
}
.col{
  width: 25%;
  float:left;
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
}

.headers{
  height: auto;
}

.headers .number{
  font-family: 'Source Code Pro', sans-serif;
  font-size: 1.5rem;
  color: #7c2927;
}

.headers .col{
  overflow: hidden;
  text-align: center;
}


.cols h2, .headers h2{
  font-variant: small-caps;
}

.cols h4{
  font-size: 1.4rem;
}

#main{
  padding-bottom: 0px;
}


.tag{
  font-size: 1.2rem;
  cursor: pointer;
}

.tag:hover{
  color: #151515;
}

.wd{
  border-bottom: 1px solid #151515;
  padding: 12px;
}

.number{font-family: 'Source Code Pro', sans-serif;}
