



<div>
  <div ng-repeat="doc in items">
    <h2>{{doc.title}}</h2>
    <div class="abstract" marked="doc.abstract"></div>

    
    <div class="keywords">
      <a class="tag" ng-click="setFilter('tags__id',tag.id, tag)" ng-repeat="tag in doc.tags.Institution">{{tag.name}}</a>
      <a class="tag" ng-repeat="tag in doc.tags.Date">{{tag.name}}</a>
      
    </div>
    
    <div class="keywords">
      <a class="tag" ng-repeat="tag in doc.tags.KEYWORD">{{tag.name}}</a>
      <a class="tag" ng-repeat="tag in doc.tags.FREE">{{tag.name}}</a>
    </div>


  </div>

</div>