{% load i18n %}
<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en" ng-app="walt"> <!--<![endif]-->
<head>

  <!-- Basic Page Needs
  ================================================== -->
  <meta charset="utf-8">
  <title>Forccast{% block title %}{% endblock %}</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  ================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- CSS
  ================================================== -->
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic|Source+Code+Pro' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ STATIC_URL }}/css/font-awesome.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}/css/base.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}/css/skeleton.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}/css/layout.css">
</head>
<body>
<!-- Primary Page Layout
  ================================================== -->
  <header>
    <div class="shadow-wrapper"></div>
    <div class="shadow"></div>
    <div class="container">
      <div class="four columns"><a href="{% url 'frontcast_home'%}"><img src="{{ STATIC_URL }}/img/forccast.svg"/>archive</a></div>
      <div class="twelve columns right-aligned">
        <input type="text" name="query" id="search-query" placeholder="search" autofocus=autofocus>
        <a class="entry" href="{% url "frontcast_home"%}#/?">{% trans "index" %}</a>
        {% if user.is_authenticated %}
          <a class="entry" href="{% url "frontcast_home"%}#/me">{{user}}{% trans "'s space" %}</a> | 
          <a class="entry" href="{% url "frontcast_logout"%}">{% trans "logout" %}</a> |
        {% else %}
          <a class="entry" href="{% url "frontcast_login"%}">{% trans "login" %}</a>
        {% endif %}
        <a class="entry">about</a>
      </div>
    </div>
    
  </header>

  <div id="main" >
    <div class="container animate-container">
      <div class="view" ng-view></div>
    
    </div>
  </div>

  {% block scripts %}
    <!-- api endpoints are hardcoded inside services.js -->
    <!-- In production use: -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular-route.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular-resource.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular-animate.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular-cookies.min.js"></script>
    <script src="{{ STATIC_URL }}/js/angular/app.js"></script>
    <script src="{{ STATIC_URL }}/js/angular/services.js"></script>
    <script src="{{ STATIC_URL }}/js/angular/controllers.js"></script>
    <script src="{{ STATIC_URL }}/js/angular/filters.js"></script>
    <script src="{{ STATIC_URL }}/js/angular/directives.js"></script>
  {% endblock %}
</body>
</html>