{% load extras%}
      <article>
        {%with document.get_organized_tags as tags%}
        <div class="date">{{tags|tag:'Date'|safe}}</div>
        {{document.type}}
        <a href="{%url 'frontcast_document' document.slug%}">
        <h2>{{document.title}}</h2>
      </a>
        
        <setion class="tags">
          
          {{tags|tag:'Institution'|safe}}
         
        <section>
        <setion class="abstract">
          {{document.abstract}}
        </setion>
        <setion class="content">

        </section>
        {% endwith %}
      </article>
