<div class="wall-column">
  
  <div class="wall-column-header">
    <div class="wall-column-header-line"></div>
      <div class="wall-column-shadow"><div class="inner"></div>
    </div>
  </div>
  
  <div class="wall-column-box nano">
    <div class="content"></div>
  </div>
  
  <div class="wall-column-footer">
    <div class="wall-column-shadow">
      <div class="inner"></div>
    </div>
  </div>
  
</div>