<div class="reference-editor" data-id="{{id}}" id="reference-editor">
  <div class="pusher"></div>
  <h3>{{title}}</h3>
  <h4>bibliographic reference {{reference}}</h4>
  <div class="biblib-form abstract" id="layout"></div>
  <div class="pusher"></div>
</div>