{% extends "walt/middle.html" %}
{% load i18n %}

{% block page %}
  <div ng-controller="AssignmentCtrl">
    <h1>{{ task.name }}</h1>
     <div class="publish" style="text-align:center; float :right; width:50%">
      <button ng-click="deliver({{t.assignment.id}})" style=" background:#ee312f" bs-tooltip="tooltip.title" title="once click can't be stopped!" data-placement="top"><i class="icon-upload" style="margin-right: 12px;"></i> {% trans "deliver task" %}</button>
    </div>
    <div class="content" style="width:50%">{{ task.content }}</div>
    <!-- h2>woop let's do it!</h2 -->
    <div style="clear:both"></div>
    {% block task_layout %}{% endblock %}
  </div>
{% endblock %}
