{% extends "walt/middle.html" %}
{% load i18n %}

{% block page %}
  <!-- div class="pins">
	<div class="pin rating_0" style="position: absolute; ">

          <h2>modelisationfinance</h2>

          <div class="metadata">
            <span class="tag"></span>
          </div>
          <div class="metadata authors">
                      </div>
                    <div class="tags"><i class="icon-tags icon"></i>
                      </div>






          <div class="abstract">a sample excerpt</div>
          <div class="actions">
          <a class="button" href="/archive/modelisationfinance/manifest.php" target="_self"><i class="icon-eye-open"></i> intro</a>
          <a class="button" href="/archive/modelisationfinance" target="_blank"><i class="icon-link"></i> view site</a>

                      </div>

          <div class="vimeo"></div>

        </div>
  </pins -->
{% endblock %}
