{% extends "walt/middle.html" %}
{% load i18n %}

{% block page %}
  {% verbatim %}
  <div ng-controller="DocumentListCtrl">
    <span>{{documents.length}}</span>

    <div class="pins">
      <div class="pin" ng-repeat="d in documents">
        <h3>{{d.title}}</h3>
        <div class="abstract">{{d.abstract}}</div>
        <div ng-switch on="d.mimetype">
            <div ng-switch-when="vimeo">
                <!-- code to render a large video block-->
                <iframe src="//player.vimeo.com/video/{{get_vimeo_id(d.content)}}?badge=0" width="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>


            </div>
            <div ng-switch-default>
                <!-- code to render the regular video block -->
                AJE
            </div>
        </div>
      </div>

    </div>
  </div>
  {% endverbatim %}
{% endblock %}
