{% extends "walt/middle.html" %}
{% load i18n %}

{% block page %}
	<div>
		<form method="POST" action="{% url 'walt_login' %}">
			<input type="hidden" value="{{ next }}" name="next" />
			{% csrf_token %}
			<h1>{% trans "login" %}<!-- to access content {{ next }} -->
			</h1>
			<p>
			{{ error }}
			</p>
			<p>
				<label for="id_login_username">{% trans "username" %}</label>
				<input id="id_login_username" type="text" name="username" class="span5" maxlength="64" />
			</p>
			<p>
				<label for="id_login_password">{% trans "password" %}</label>
				<input id="id_login_password" type="password" name="password" class="span5"  maxlength="64" />
			</p>
			<button>{% trans "login" %}</button>
		</form>
	</div>
{% endblock %}
