{% extends "walt/boilerplate.html" %}
{% load i18n %}


{% block body %}
		{% if user.is_authenticated %}
		<header>
			<div class="inner">
			{% block header %}
				<h2>connected as {{ user.first_name }}( {{user.username}} )</h2>
			{% endblock %}
			</div>
		</header>
		{% endif %}
		<sidebar>
			<div class="outer">
				<div class="inner">
					{% block sidebar %}
					<a><img src="{{ STATIC_URL }}/img/forccast.svg" id="forccast-logo"/></a>

					<ul>

						<li {% if 'home' in tags %}class="active"{% endif %}><a href="{% url 'walt_home' %}"><i class="icon-list"></i></a></li>
					{% if user.is_authenticated %}
						<li {% if 'me' in tags %}class="active"{% endif %}><a href="{% url 'walt_spiff' user.username %}"><i class="icon-user"></i></a></li>

						<li><a href="{% url 'walt_logout' %}"><i class="icon-bolt"></i></a></li>
					{% else %}
						<li {% if 'login' in tags %}class="active"{% endif %}><a href="{% url 'walt_login' %}"><i class="icon-bolt"></i></a></li>
					{% endif %}

					</ul>
					<img src="{{ STATIC_URL }}/img/sciences-po.svg" id="sciences-po-logo"/>
					{% endblock %}
				</div>
			</div>
		</sidebar>

		<div class="main">
			<div class="inner">
			{% if user.is_authenticated %}
			{% block notifications %}
				<div class="notifications" style="display: none" ng-controller="AssignmentListCtrl">
					<h1>assignments</h1>
					  {% verbatim %}
				    <span><!-- {{total_count}} -->o</span>
				    <div class="assignments">
				      <div class="assignment" ng-repeat="a in assignments">
				        <h3>{{a.task.name}}</h3>
				        {{a.date_due}}
				        <div ng-bind-html-unsafe="a.task.content"></div>
				      </div>
				    </div>
					  {% endverbatim %}
				</div>

			{% endblock %}
			{% endif %}

			{% block page %}

			{% endblock %}

			</div>
		</div>

		{% if user.is_authenticated %}
		<div class="references" ng-controller="ReferenceListCtrl">
			<h2>bibliography</h2>

			<div class="reference">
				James, H.
			</div>
		</div>
		{% endif %}

		<footer>
			{% block footer %}

			{% endblock %}
		</footer>


{% endblock %}
