<div class="big-box editor">
  <fieldset>
    <label>title</label>
    <input name="title" id="document-title" type="text"/>
  </fieldset>

  <fieldset>
    <label>reference id xxx-yyyy-yyyy-0000</label>
    <input name="reference" id="document-reference" type="text"/>
  </fieldset>
  
  <fieldset>
      <label>type</label>
      <input type="text" id="document-type"/>
  </fieldset>

</div>