<div class="menu" scroll-to-fixed margin-top="48" ng-include src="'/frontcast/static/js/angular/partials/helpers.menu.html'"></div>

<div class="list">
  <div class="item" ng-class="item.status" ng-repeat="item in items">
    <div class="inner">
      <h4><a ng-href="#!/course/{{item.id}}">{{item.abstract_raw || 'untitled'}}</a></h4>
      <div class="tags">
        <span class="date">
          <span class="tag date" ng-click="setProperties('tags__slug__in', tag.slug)" class="wd" ng-repeat="tag in item.tags.Date">
            {{tag.name}}
          </span>
        </span>
        <span class="tag date" ng-click="setProperties('type__in', item.type)">
            {{item.type}}
          </span>
      </div>

      <div class="abstract">{{item.title}}</div>
      
      

    </div>
  </div>
</div>