<div class="big-item">
  <h2>{{item.title}}</h2>
  <h3><span editable-select="item.type" e-ng-options="s.value as s.text for s in document_types">{{item.type}}</span></h3>

  <div class="pure-g">
    <div class="pure-u-1-2">
      <div class="tags">
        <span class="tag institution" ng-click="setProperty('tags__slug__REDUCE', tag.slug)" class="wd" ng-repeat="tag in item.tags.Institution">
            {{tag.name}}</span>
        <span class="date">
          <span class="tag date" ng-click="setProperty('tags__name__REDUCE', tag.name)" class="wd" ng-repeat="tag in item.tags.Date">
            {{tag.name}}
          </span>
        </span>
        
      </div>
      <div class="cover">
        <img src="{{item.attachments.thumb.src}}">
      </div>
      <div class="abstract">
        <div disqus="'d' + item.id"></div>
      </div>

      <!-- endof pure-u-1-2 -->
    </div>
    <div class="pure-u-1-2">
      <a ng-href="#!/doc/{{item.id}}/edit"> edit </a>
      <a ng-href="#!/doc/{{item.id}}/profile"> view profile </a>
      <!-- endof pure-u-1-2 -->
    </div>
    <!-- endof pure-g -->
  </div>
  <!-- endof big-itme -->
</div>