<div class="big-item">
  <h2>{{document.title}}</h2>
  <h3>{{document.type}}</h3>
  {{document.reference}}

  <form class="pure-form">
    <div class="pure-g">
      <div class="pure-u-1-2">
    
      <label>Notes</label>
      <textarea class="pure-input-1" rows="4" placehodlers="comments or something interesting about this document" ng-model="profile.notes"></textarea>

      <table class="pure-table" style="width: 100%; margin-top:18px">
        <thead>
            <tr>
              <th>#</th>
              <th>question</th>
              <th>value</th>
              <th>Yes</th>
              <th>No</th>
            </tr>
        </thead>
        <tbody>
          <tr ng-repeat="property in profile.properties">
            <td></td>
            <td>{{property.name}}</td>
            <td>{{property.value}}</td>
            <td>
              <input type="radio" ng-model="property.value" ng-value="true"/>
            </td>
            <td>
              <input type="radio" ng-model="property.value" ng-value="false" />
            </td>
          </tr>
        </tbody>

      </table>
      
      <table class="pure-table" style="width: 100%; margin-top:18px">
        <thead>
            <tr>
              <th>#</th>
              <th>question</th>
              <th>value</th>
              <th>Yes</th>
              <th>No</th>
            </tr>
        </thead>
        <tbody>
          <tr ng-repeat="property in profile.properties_interviews">
            <td></td>
            <td>{{property.name}}</td>
            <td>{{property.value}}</td>
            <td>
              <input type="radio" ng-model="property.value" ng-value="true"/>
            </td>
            <td>
              <input type="radio" ng-model="property.value" ng-value="false" />
            </td>
          </tr>
        </tbody>
        
      </table>

      <table class="pure-table" style="width: 100%; margin-top:18px">
        <thead>
            <tr>
              <th>#</th>
              <th>question</th>
              <th>value</th>
              <th>Yes</th>
              <th>No</th>
            </tr>
        </thead>
        <tbody>
          <tr ng-repeat="property in profile.properties_meth_detail">
            <td></td>
            <td>{{property.name}}</td>
            <td>{{property.value}}</td>
            <td>
              <input type="radio" ng-model="property.value" ng-value="true"/>
            </td>
            <td>
              <input type="radio" ng-model="property.value" ng-value="false" />
            </td>
          </tr>
        </tbody>
        
      </table>
      
    </div>
  </form>
</div>
