<div class="menu" scroll-to-fixed margin-top="48" ng-include src="'/frontcast/static/js/angular/partials/helpers.menu.html'"></div>

<div class="list">
  <div class="doc item" ng-class="view_as_list? 'list-item' : ''" ng-repeat="item in items">
    <div class="inner">
      <h4><a ng-href="#!/doc/{{item.id}}/profile">#{{item.id}} {{item.title}}</a></h4>
      
      <div class="tags">
        <span class="tag institution" ng-click="setProperty('tags__slug__REDUCE', tag.slug)" class="wd" ng-repeat="tag in item.tags.Institution">
            {{tag.name}}</span>
        <span class="date">
          <span class="tag date" ng-click="setProperty('tags__name__REDUCE', tag.name)" class="wd" ng-repeat="tag in item.tags.Date">
            {{tag.name}}
          </span>
        </span>
        
      </div>
      <div class="cover">
        <img src="{{item.attachments.thumb.src}}">
      </div>
    <!-- div class="devices">
      <span ng-repeat="(device_type, devices) in item.devices">
      <span class="tag device" ng-repeat="device in devices" ng-click="setProperties('devices__working_document__slug__in', device.working_document_slug)">{{device.title}}</span>
      </span>
    </div -->
    </div>

    <div class="below">
      <div class="pure-g">
        <div class="pure-u-1-4">
          <span class="type" ng-click="setProperty('type', item.type)" ng-switch="item.type">
            <span ng-switch-when="ControversyVideo" tooltip="controversy video"><i class="fa fa-film"></i></span>
            <span ng-switch-when="ControversyEbook" tooltip="controversy book"><i class="fa fa-book"></i></span>
            <span ng-switch-when="ControversyWeb" tooltip="controversy website"><i class="fa fa-globe"></i></span>
          </span>
        </div>
        
        <div class="pure-u-1-4">
          <span class="fa fa-star" tooltip="rating: {{item.rating}}">{{item.rating}}</span>
        </div>
        <div class="pure-u-1-2">
          <!-- span tooltip="unique reference id">{{item.reference}}</span -->
        </div>
      </div>
    </div>
  </div>
  <div class="clear"></div>
</div>