<div class="big-item">
  <h2><span editable-text="document.title" onbeforesave="updateDocument('title', $data)">{{document.title}}</span></h2>
  <h3><span editable-select="document.type" e-ng-options="s.value as s.text for s in document_types">{{document.type}}</span></h3>

  <div class="pure-g">
    <div class="pure-u-1-2">
      <div class="cover">
        <div class="box">
          <img ng-src="{{document.attachments.thumb.src}}">
        </div>
      </div>
      <div class="tags"  style="margin-top: 15px">
        <a class="tag date" class="wd" ng-repeat="tag in document.tags.Date">
            {{tag.name}}
        </a>
        <a class="tag institution" class="wd" ng-repeat="tag in document.tags.Institution">
      {{tag.type}} {{tag.name}}
        </a>
      </div>
      <div ng-if="document.abstract" class="abstract" onbeforesave="updateDocument('abstract', $data)" editable-textarea="document.abstract_raw" e-rows="7" e-cols="40" ng-bind-html="document.abstract">
      </div>
      <div class="abstract" editable-textarea="document.abstract" onbeforesave="updateDocument('abstract', $data)" ng-if="document.abstract == ''">
        <i>empty abstract. click to edit</i>
      </div>
      <div class="notes">
       <!-- {{profile.owner}} --><span  ng-bind-html="profile.notes || 'empty'"></span>
      </div>
    </div>
    <div class="pure-u-1-4">
      <a class="pure-button" ng-href="#/doc/{{document.id}}/profile/edit">edit</a>
      <div class="property"  >
        <i class="fa fa-globe" editable-text="document.permalink"></i><div class="value"><a ng-href="{{document.permalink}}" target="_blank">external link</a></div>
      </div>

      <h4 ng-if="profile.properties_interviews.length">presence of interviews</h4>
        
      <div class="tags" >
        <a class="tag" class="wd" ng-if="tag.value" ng-repeat="tag in profile.properties_interviews">
          {{tag.name}}
        </a>
      </div>

      <h4 ng-hide="!profile.properties_meth_detail.length">presence of methodology detail </h4>
        
      <div class="tags" >
        <a class="tag" class="wd" ng-if="tag.value" ng-repeat="tag in profile.properties_meth_detail">
          {{tag.name}}
        </a>
      </div>

      <h4>properties</h4>
      <div class="property boolean" ng-repeat="property in profile.properties" ng-class="property.value ? 'has-value': ''">
        {{property.label}}<div class="value"></div>
      </div>
    </div>

    <div class="pure-u-1-4">
      <h4>devices</h4>
      
      <div ng-repeat="thumb in document.devices">
        <div ng-include src="'/frontcast/static/js/angular/partials/tool.thumb.html'"></div>
      </div>
    </div>

  </div>
</div>