<div class="big-item" ng-show="document">
  <div class="menu" scroll-to-fixed margin-top="48">
    <h2><i>editing</i> {{document.title}} <a ng-href="#!/doc/{{document.id}}/profile">back</a></h2>
    <div ng-if="document.permalink" class="permalink">visit <b>{{document.type}}</b>
          <a href="{{document.permalink}}" target="_blank">{{document.permalink|crop}}</a>
    </div>

  </div>

  
  

  <div class="pure-g">

    <div class="pure-u-2-3">
      
      
   
      <form class="pure-form">
        <div class="questions">
        
        <table ng-repeat="q in profile.questions" class="question-table pure-table">

          <thead>
              <tr>
                <th>{{q.label}}</th>
                <th>Yes</th>
                <th>No</th>
              </tr>
          </thead>
          <tbody>
            <tr ng-repeat="property in q.properties">
              
              <td ng-if="property.is_device" colspan="3">{{property.question}}
                <div >
                  <form class="pure-form">
                    <span class="tag" ng-repeat="dev in document.devices[property.name]"><span ng-click="follow('tool', dev.working_document_id)">{{dev.title}}</span>&nbsp;<span class="fa fa-times" tooltip="remove me" ng-click="removeDevice(dev.id)"></span></span>
                    <p>
                    <input type="text" autofocus ng-model="__device_candidate"
                typeahead-editable="false"
                typeahead-loading="loadingLocations"
                typeahead="tag as tag.title for tag in getDevices($viewValue)"
                class="form-control typeahead-multi-input"
                typeahead-on-select="saveDevice(property.name, __device_candidate)"
                typeahead-wait-ms="50">
                    </p>
                  </form>
                </div>
              </td>
              <td ng-if="!property.is_device"> {{property.question}} {{property.value}}
              </td>
              <td ng-if="!property.is_device" class="radio">
                <div tooltip="yes" ng-click="attachProperty(property.name, profile)">
                  <input type="radio" ng-model="property.value" ng-value="true"/>
                </div>
              </td>
              <td ng-if="!property.is_device" class="radio">
                <div tooltip="no" ng-click="detachProperty(property.name, profile)">
                  <input type="radio" ng-model="property.value" ng-value="false"/>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      
        </div>
      </form>
    </div>
  </div>
</div>
