<div class="thumb" ng-class="thumb.status">
  <div class="inner">
  <h4><a ng-href="#/doc/{{thumb.id}}/profile">#{{thumb.id}} {{thumb.title}}</a></h4>
  
  <div class="tags">
    <span class="date">
      <span class="tag date" ng-click="setProperties('tags__slug__in', tag.slug)" class="wd" ng-repeat="tag in thumb.tags.Date">
        {{tag.name}}
      </span>
    </span>
    <span class="tag date" ng-click="setProperties('type__in', thumb.type)">
        {{thumb.type}}
      </span>
  </div>
  <div class="devices">
    <span ng-repeat="(device_type, devices) in thumb.devices">
    <span class="tag device" ng-repeat="device in devices" ng-click="setProperties('devices__working_document__in', device.id)">{{device.title}}</span>
    </span>
  </div>
  </div>
</div>