<div class="big-item">
  <div class="menu" scroll-to-fixed margin-top="48">
    <h2>{{document.title}} <a ng-href="#!/doc/{{document.id}}/edit">edit</a> | <a ng-href="#!/doc/{{document.id}}/profile/edit">edit properties</a></h2>
    <div ng-if="document.permalink" class="permalink">visit <b>{{document.type}}</b>
          <a href="{{document.permalink}}" target="_blank">{{document.permalink|crop}}</a>
    </div>

  </div>
  <div class="pure-g">
    <div class="pure-u-1-2">
      <div class="cover">
        <div class="box">
          <div ng-if="document.tags.oembed_title">
            <img src="{{document.tags.oembed_thumbnail_url[0].name}}"/>
          </div>
          <img ng-src="{{document.attachments.thumb.src}}">
        </div>
        
      </div>
      
      <div class="tags"  style="margin-top: 15px">
        <a class="tag date" class="wd" ng-repeat="tag in document.tags.Date">{{tag.name}}</a>
        <a class="tag institution" class="wd" ng-repeat="tag in document.tags.Institution">{{tag.name}}</a>
      </div>
      <div class="reference" ng-bind-html="document.bib.mla"></div>
      <div ng-if="document.abstract" class="abstract" ng-bind-html="document.abstract">
      </div>

      <!-- div class="discussion">
        <div disqus="'d' + document.id"></div>
      </div -->

      
    </div>
    <div class="pure-u-1-4">

      <div ng-repeat="q in profile.questions">
        <h4>{{q.section}}</h4>
        <div ng-if="property.value" class="property boolean" ng-repeat="property in q.properties" ng-class="property.value ? 'has-value': ''">
        {{property.label}}<div class="value"></div>
      </div>
      </div>
      
    </div>

    <div class="pure-u-1-4">
      
      <div class="tags" ng-repeat="(type, devices) in document.devices">
        <h4>{{devices[0].type_label}}</h4>
        <a class="tag" ng-href="#!/tool/{{tool.id}}" ng-repeat="thumb in devices">
          {{thumb.title}}
        </a>
      </div>
    </div>

  </div>
</div>