<div class="pure-g">

    <div class="pure-u-1-4">
      <div class="counter" ng-include src="'/frontcast/static/js/angular/partials/helpers.counter.html'"></div>
    </div>
    <div class="pure-u-1-2">
      <div class="paginator" ng-include src="'/frontcast/static/js/angular/partials/helpers.paginator.html'"></div>
    </div>
    <!-- div class="pure-u-1-4">
      <div class="dropdown">
        <a class="dropdown-toggle">
          ordered by <span class="orderby">{{orderby.label}}</span><i class="fa fa-angle-down"></i>
        </a>
        <ul class="dropdown-menu">
          <li ng-repeat="o in orders" ng-click="switchOrderby(o)">
           {{o.label}}
          </li>
        </ul>
      </div>
    </div -->
    <div class="pure-u-1-8">
      <button class="pure-button" ng-click="toggleViewAsList()">
        <span ng-if="!view_as_list">as list</span>
        <span ng-if="view_as_list">as pins</span>
      </button>
    </div>
    <div class="pure-u-1-8">

      <a class="pure-button" ng-href="#/{{viewname}}/add">add {{viewname}} <i class="fa fa-plus"></i></a>
    </div>
</div>
    <!-- select ng-model="orderby" ng-options="o.name for o in orders" fancy-select >
      <option value="">-- choose color --</option>
    </select -->
