<div class="doc item" ng-class="item.status" ng-repeat="item in items">
  <div class="inner">
  <h4><a ng-href="#/tool/{{item.id}}">#{{item.id}} {{item.title}}</a></h4>
  <a href="#/tools/{{item.id}}/edit">edit</a>
  <a href="{{item.permalink}}" target="_blank">{{item.permalink}}</a>
  <div class="content">{{item.abstract_raw}}</div>
  <div class="tags">
    <span class="tag" class="wd" ng-repeat="tag in item.tags" ng-click="setProperties('tags__slug__in', tag.slug)">
      {{tag.name}}
    </span>
  </div>
</div>