<div class="menu" scroll-to-fixed margin-top="48" ng-include src="'/frontcast/static/js/angular/partials/helpers.menu.html'"></div>

<div class="list">
  <div class="item" ng-class="item.status" ng-repeat="item in items">
    <div class="inner">
      <h4><a ng-href="#/course/{{item.id}}">{{item.title || 'untitled'}}</a></h4>
      <div class="tags">
        <span class="date">
          <span class="tag date" ng-click="setProperty('date', item.date)">
            {{item.date}}
          </span>
        </span>
        <span class="tag date" ng-click="setProperties('type__in', item.type)">
            {{item.type}}
          </span>
      </div>
      <div class="abstract"> course: <a ng-href="#/course/{{item.parent.id}}">{{item.parent.title}}</a>

        {{item.abstract_raw}}</div>
      
      

    </div>
  </div>
</div>