<div class="pure-g">

  
  <div class="pure-u-3-4">


    <div class="big-item">
      <h2>{{item.title}}</h2>
      <h3>{{item.type_label}}</h3>

      <div class="pure-g">
        <div class="pure-u-1-2">
          <div class="cover">
            <div class="box" ng-repeat="tag in item.tags.CU">
              <img ng-src="{{tag.name}}">
            </div>
          </div>
          <a class="pure-button" ng-href="#/tools/{{item.id}}/edit"> edit</a>



          <div class="abstract">
           <p ng-bind-html="item.abstract"></p>
          </div>
        </div>
        <div class="pure-u-1-2">

          <div class="tags" >
            <h4>tags</h4>
            <a class="tag" class="wd" ng-repeat="tag in item.tags.CA">
              {{tag.name}}
            </a>
          </div>
          <div class="property">
            <i class="fa fa-globe"></i><div class="value">{{item.permalink}}</div>
          </div>

          <div class="property" ng-repeat="tag in item.tags.CP">
            <i class="fa fa-dollar"></i><div class="value">{{tag.name}}</div>
          </div>

          <div class="property" ng-repeat="tag in item.tags.RE">
            <i class="fa fa-magic"></i><div class="value">{{tag.name}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  

  <div class="pure-u-1-4">
    <div ng-repeat="thumb in item.documents">
        <div ng-include src="'/frontcast/static/js/angular/partials/document.thumb.html'"></div>
      </div>
  </div>

  <div class="pure-u-1-2">
      
    </div>

</div>