<div class="big-item">
<h2>
  {{item.title}}
</h2>

<form class="pure-form pure-form-stacked" name="editForm" ng-submit="save()">
  <p>
    <label class="required">title</label>
    <input class="pure-input-1-2" required type="text" ng-model="item.title">
  </p>
  
  <!-- -->
  <p>
    <label>some words about it (markdown syntax)</label>
    <textarea type="text" class="pure-input-1-2" ng-model="item.abstract_raw"></textarea>
  </p>
  <!-- -->
   <label>url address</label>
  <fieldset class="pure-group">
    <input type="text" ng-model="item.permalink" class="pure-input-1-2" placeholder="http://">
        <input type="text"  ng-model="item.picture" class="pure-input-1-2" placeholder="picture url">
   
        
  </fieldset>
  <p>
    <label>overall rating {{item.rating}}</label>
    <input type="number" ng-model="item.rating" class="pure-input-1-2">
    <!-- rating bind="item.rating" ng-model="item.rating" max="10" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null"></rating -->
  </p>
  <button ng-disabled="status != 'available'" class="pure-button" value="add">
    <span ng-if="status == 'available'">save modifications</span>
    <span ng-if="status == 'busy'">working...</span>
  </button>
  
</form>
</div>