
<h2>Edit {{workingdocument.title}}</h2>
<form name="editForm" ng-submit="addTodo()">
  <div ng-if="workingdocument.permalink"><a href="{{workingdocument.permalink}}" target="_blank">{{workingdocument.permalink}}</a></div>
  <p>
    <label>§ some words about it (markdown syntax)</label>
    <textarea type="text" ng-model="workingdocument.abstract_raw"></textarea>
  </p>
  <p>
    <label>§ comma separated tags</label>
  <input type="text" ng-model="csv_tags">
  </p>
  <button ng-click="addTodo()" ng-disabled="status != 'available'" class="boo display-block" value="add">
    <span ng-if="status == 'available'">save modifications</span>
    <span ng-if="status == 'busy'">working...</span>
  </button>
  
</form>
