{% extends "walt/middle.html" %}
{% load i18n %}


{% block scripts %}
  {% if document.reference %}
  	<script src="{{STATIC_URL}}js/blf.min.js"></script>
  	<script id="override-main" type="text/x-handlebars-template">
			<div id="panels" class="container">
				<div data-panel="create" style="display:none;">
			<div class="create-form"></div>
			</div>
				<div data-panel="fields" style="display:none;">
			<div class="select-field"></div>
			</div>
			<div data-panel="advancedSearch" style="display:none;">
				<div class="advanced-search"></div>
			</div>
			<div data-panel="list" style="display:none;">
				<ul class="entries-list"></ul>
			</div>
		</script>
  {% endif %}
  {{ block.super }}
{% endblock %}
 

{% block page %}
<div class="pins">
  <div class="document pin editor">
    <div class="pusher"></div>
  <h3>{{document.title}}</h3>
  <div class="tags">
    {% ifequal document.status 'D' %}
      this is a <i>draft</i> document and it is not visible outside.
    {% endifequal %}
    {% with tags=document.get_organized_tags %}
    {% for category_name, category in tags.items %}
      <p>
        {% for tag in category %}
        {{ tag.name }} {% for r in tag.related.all%}| {{r.name}}{%endfor%}{% if not forloop.last %} <br/>{%endif%} {% endfor %}
      </p>
    {% endfor %}
    {% endwith %}
  </div>

  {% if document.reference %}
  <h2>{{ document.reference }}</h2>
		<div id="layout" class="biblib-form"></div>
	{% endif %}
  </div>
</div>
{% endblock %}


<script>
{% block onload %}
	{{ block.super }}
	{% if document.reference %}

	blf.templates.override(
    'main',
    Handlebars.compile($('#override-main').html())
  );

	blf.init({
        i18n:{
          lang: 'fr',
          url:'{{ STATIC_URL }}/locales/__lng__/__ns__.json'
        },
        rpc:{
          before: function(params, xhr){
            xhr.setRequestHeader("X-CSRFToken", walt.CSRFTOKEN);
          }
        },
        baseURL: '{% url "walt_api_biblib_proxy_safe" %}',//http://localhost:8080',
        baseDOM: $('#layout'),
        callbacks:{
          save: function(data){
            var reference_to_update = {
                id:'{{document.id}}',
                language:'{{document.language}}',
                status:'{{document.status}}',
                type:'{{document.type}}',
                reference: '{{document.reference}}'
              }

            if( reference_to_update.reference ==  data.params.entry.rec_id){
              reference_to_update.title = data.params.entry.title;
              
              $.ajax({
                url: walt.urls.user_document.replace('/0','/'+ reference_to_update.id),
                method: 'POST',
                data: reference_to_update
              })
                .success(function(data){console.log(data)})
                .error( function(data){console.log(data)})

            } else {
              // !!!!!!!!!!!alert, the document is not sync with biblib
            }
          },
          get_entry:function(data){
            if( !data.result || !data.result.length){
              blf.control.dispatchEvent('displayForm', {
                entry: {
                  rec_type: 'ControversyVideo',
                  rec_id: '{{document.reference}}',
                  title:'{{document.title}}'
                },
                field: 'ControversyVideo'
              }).update('mode', 'create');
            } else
              blf.control.dispatchEvent('editEntry', { entry: data.result.pop() });
          }
        },
        onComplete: function() {
          var reference = '{{document.reference}}';
					blf.control.request('get_entry', { rec_id: reference });
        },
        advancedSearchPanel: {
          index: {
            property_source_index: 'search_index',
            property_source_operator: 'search_operator',
            default_operator: 'and',
            default_index: [
              'title',
              'author',
              'keyword'
            ]
          },
          filters: [
            {
              labels: {
                en: 'Publication year',
                fr: 'Année de publication'
              },
              property_start: 'filter_date_start',
              property_end: 'filter_date_end',
              type_ui: 'YearRangeField'
            },
            {
              labels: {
                en: 'Document types',
                fr: 'Types de document'
              },
              multiple: true,
              property: 'filter_types',
              type_source: 'document_type',
              type_ui: 'CheckboxField'
            },
            {
              labels: {
                en: 'Languages',
                fr: 'Langues'
              },
              multiple: true,
              property: 'filter_languages',
              type_source: 'language',
              type_ui: 'CheckboxField'
            }
          ]
        }
      });

	{% endif %}
{% endblock %}
</script>
