{% extends "walt/boilerplate.html" %}
{% load i18n %}


{% block body %}
    {% if user.is_authenticated %}
    <header>
      <div class="inner">
      {% block header %}
        
        <div class="action add-media">
          <i class="icon icon-plus"></i>
        </div>
        
        <div class="clear"></div>
      {% endblock %}
      </div>
    </header>
    {% endif %}
    <sidebar {%if user.is_staff %}class="staff"{%endif%}>
      <div class="outer">
        <div class="inner">
          {% block sidebar %}
          <a href="{% url 'walt_home'%}" id="forccast-logo"><img src="{{ STATIC_URL }}/img/forccast.svg"/></a>
          <ul>
            <li data-scene="splash page">
              <a href="{% url 'walt_home' %}#/" data-toggle="tooltip" title="introduction" data-placement="right">
                <div class="icon">
                  <i class="icon-camera-retro"></i>
                </div>
                <div class="label">{% trans "intro"%}</div>
              </a>
            </li>
            <li data-scene="public|search">
              <a href="{% url 'walt_home' %}#/public" data-toggle="tooltip" title="view public documents" data-placement="right">
                <div class="icon">
                  <i class="icon-globe"></i>
                </div>
                <div class="label">{% trans "public"%}</div>
              </a>
            </li>
          {% if user.is_authenticated %}
            <li data-scene="me|re">
              <a href="{% url 'walt_home' %}#/me" data-toggle="tooltip" title="{{user.username}}'s documents" data-placement="right">
                <div class="icon">
                  <i class="icon-male"></i>
                </div>
                <div class="label">{% trans "worksp."%}</div>
              </a>
            </li>
            <!--li data-scene="" data-tooltip="tooltip.title" title="search (disabled)" data-placement="right"  {% if 'me' in tags %}class="active"{% endif %}>
              <a href="#"><i class="icon-search"></i></a>
            </li-->
            <li data-scene="" data-tooltip="tooltip.title" title="{% trans 'logout' %}" data-placement="right">
              <a href="{% url 'walt_logout' %}">
                <div class="icon">
                  <i class="icon-unlock"></i>
                </div>
                <div class="label">{% trans "logout"%}</div>
              </a>
            </li>

            {% if user.is_staff %}
            <li data-scene="r" data-tooltip="tooltip.title" title="{% trans 'view all drafts' %}" data-placement="right">
              <a class="staff" href="{% url 'walt_home' %}#/r">
                <div class="icon">
                  <i class="icon-tint"></i>
                </div>
                <div class="label">{% trans "drafts"%}</div>
              </a>
            </li>
            {% endif %}
          {% else %}
            <li data-scene="" data-tooltip="tooltip.title" title="{% trans 'login' %}" data-placement="right" {% if 'login' in tags %}class="active"{% endif %}>
              <a href="{% url 'walt_login' %}">
                <div class="icon">
                  <i class="icon-lock"></i>
                </div>
                <div class="label">{% trans "worksp."%}</div>
              </a>
            </li>
          {% endif %}
          {% if debug %}
          {% endif %}
          </ul>
          <!-- a href="{% url 'walt_home'%}" id="sciences-po-logo"><img src="{{ STATIC_URL }}/img/sciences-po.svg" /></a -->
          {% endblock %}
        </div>
      </div>
    </sidebar>

    <div class="main">
      <div class="inner">
        
      {% if user.is_authenticated %}
        {% block assignments %}
        <div class="assignments">
          <div class="assignments" id="list-of-assignments"></div>
        </div>
        {% endblock %}
      {% endif %}

      {% block page %}

      {% endblock %}

      </div>
    </div>

    <div class="filters">
      <div class="action search">
          <i class="icon icon-search"></i>
          <input type="text" id="search" placeholder="search documents"/>
        </div>
       
      <!--
      <h2>filters</h2>

      <div class="filter">
        <h3>institutions</h3>
        <div class="fields">
          <div>Video</div><div><span>5</span></div>
        </div>
        <div>
          <div>Websites</div><div><span>5</span></div>

        </div>
        <div>
          <div>Dossiers</div><div><span>5</span></div>

        </div>
      </div>

      <div class="filter">
        <h3>types</h3>
        <div>
          Video

        </div>
        <div>
          Website

        </div>
        <div>
          Dossiers

        </div>
      </div>
    -->
      
    </div>
    <!-- div class="references" ng-controller="ReferenceListCtrl">
      <h2>bibliography</h2>

      <div class="reference">
        James, H.
      </div>
    </div -->
    

    <footer>
      {% block footer %}

      {% endblock %}
    </footer>


{% endblock %}
